:root {
  --light-fur: rgba(234, 169, 108, 1);
  --dark-fur: peru;
}

body {
  background-color: #afeeee;
  position: relative;
  height: 100vh;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
}

.beaver {
  width: 5rem;
  height: 9rem;
  margin-left: 1.6rem;
  margin-top: -2rem;
  background-color: saddlebrown;
  background-image: repeating-linear-gradient(25deg, transparent, transparent 10px, rgba(0, 0, 0, 0.2) 10px, rgba(0, 0, 0, 0.2) 12px),
    repeating-linear-gradient(-25deg, transparent, transparent 10px, rgba(0, 0, 0, 0.2) 10px, rgba(0, 0, 0, 0.2) 12px);
  box-shadow: inset -13px -5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  border-bottom-left-radius: 40px 100px;
  border-bottom-right-radius: 40px 100px;
  transform: rotate(45deg);
}

.beaver::before {
  display: block;
  content: '';
  position: absolute;
  width: 9rem;
  height: 13rem;
  margin-left: -7rem;
  transform: rotate(-45deg);
  background-image: radial-gradient(ellipse at bottom, var(--light-fur) 30px, transparent 1px),
    linear-gradient(70deg, transparent 20%, white 20%),
    linear-gradient(-70deg, transparent 20%, white 20%),
    radial-gradient(circle at center 20px, var(--dark-fur) 90px, transparent 80px),
    radial-gradient(ellipse at center 100%, var(--dark-fur) 60px, transparent 50px);
  background-repeat: no-repeat;
  background-size: 85% 100%,
    13px 30px,
    13px 30px,
    100% 100%,
    100% 100%;
  background-position: 0 0,
    44px 70px,
    58px 70px,
    0 0,
    0 0;
  border-top-left-radius: 60px 80px;
  border-top-right-radius: 60px 80px;
  border-bottom-left-radius: 50px 40px;
  border-bottom-right-radius: 50px 40px;
}

.face::before,
.face::after {
  position: absolute;
  content: '';
  background-image: radial-gradient(circle at center, black 4px, transparent 5px);
  width: 10px;
  height: 10px;
  top: 10px;
  left: -25px;
}

.face::after {
  left: 12px;
  top: -27px;
}

.face {
  width: 15px;
  height: 15px;
  background-color: black;
  background-image: linear-gradient(white 2px);
  border-radius: 50%;
  box-shadow: 0px 12px 0 5px var(--light-fur),
    14px -2px 0 5px var(--light-fur);
  position: relative;
  top: 86px;
  left: -81px;
}
