body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.text {
  position: relative;
  background-color: black;
  color: white;
  font-size: 10em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
}


.text::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  filter: blur(0.02em);
  mix-blend-mode: difference;
}

.glow {
  overflow: hidden;
  filter: brightness(200%)
}

.gradient {
  background: linear-gradient(45deg, purple, magenta, pink, bisque, magenta, purple);
  mix-blend-mode: color-burn;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.lights {
  background: radial-gradient(circle, white, transparent 25%) center / 25% 25%,
    radial-gradient(circle, white, black 25%) center / 12% 12%;
  animation: shine 5s linear infinite;
  mix-blend-mode: color-dodge;
  position: absolute;
  top: -100%;
  right: 0;
  bottom: 0;
  left: -100%;
  transform: rotate(45deg);
}

@keyframes shine {
  to {
    transform: translate(50%, 50%)
  }
}