html, body {
	height: 100%;
	display: flex;
	align-items: center;
  justify-content: center;
}

.container {
  text-transform: uppercase;
  font-family: sans-serif;
	--container-width: 15em;
  --container-height: 5em;
  width: var(--container-width);
  height: var(--container-width) / 3;
	text-align: center;
	line-height: var(--container-height);
	font-size: calc(var(--container-height) / 2.5);
	letter-spacing: 0.2em;
}