$head-size: 190px;
$body-color: #b5c0c6;
$inner-ear-color: #fac3c0;

html,
body {
  height: 100%;
}

body {
  background: #b2e0ff;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  .elephant {
    position: relative;
    right: 4em;
    
    .elephant-head {
      background: $body-color;
      width: $head-size;
      height: $head-size + 2px;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2;
      border-top-left-radius: 40% 60%;
      border-top-right-radius: 60% 25%;
      border-bottom-right-radius: 80% 60%;
      border-bottom-left-radius: 30% 20%;
      box-shadow: 9px 7px 0px darken($body-color, 10%);
    
      .ear {
        background: $body-color;
        width: 135px;
        height: 175px;
        z-index: 4;
        position: relative;
        top: -3%;
        left: 47%;
        border-radius: 50%;
        transform: rotate(20deg);
        box-shadow: 9px 5px 0px 0px darken($body-color, 10%);
        
        .ear-inside {
          width: 100px;
          height: 132px;
          position: absolute;
          z-index: 5;
          top: 16px;
          left: 15px;
          background-color: $inner-ear-color;
          border-radius: 50%;
          transform: rotate(-4deg);
    
          &:after {
            content: '';
            width: 127px;
            height: 61px;
            background-color: $body-color;
            z-index: 5;
            transform: rotate(-60deg);
            position: absolute;
            border-radius: 50%;
            top: 15px;
            left: -40px;
            box-shadow: -2px 5px 0px darken($body-color, 10%);
          }
        }
      }
      .eye {
        background: black;
        width: 42px;
        height: 42px;
        border-radius: 70% 50%;
        box-shadow: inset 1px 7px 0 black,
          inset -13px 6px 0 white;
        position: absolute;
        left: 40px;
        top: 113px;
      }
      .trunk {
        width: 110px;
        height: 80px;
        position: absolute;
        z-index: 0;
        bottom: -24px;
        left: -81px;
        border-radius: 50%;
        background-color: $body-color;
        box-shadow: -1px 7px 0px darken($body-color, 10%);
        
        &:after {
          content: "";
          width: 110px;
          height: 80px;
          position: absolute;
          z-index: 0;
          bottom: 32px;
          left: -30px;
          border-radius: 50%;
          background-color: #b2e0ff;
          transform: rotate(-3deg);
        }
        &:before {
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          z-index: 1;
          bottom: 19px;
          left: -1px;
          border-radius: 50% 50% 0 0 / 30% 30% 0 0;
          background-color: $body-color;
          transform: rotate(-40deg);
        }
      }
    }
    .elephant-body {
      width: 250px;
      height: 200px;
      background: $body-color;
      position: absolute;
      left: 60%;
      top: 20%;
      border-top-left-radius: 40% 60%;
      border-top-right-radius: 60% 40%;
      border-bottom-right-radius: 40% 60%;
      border-bottom-left-radius: 40% 40%;
      box-shadow: 3px 10px 0px darken($body-color, 10%);
      
      .tail {
        width: 50px;
        height: 10px;
        background-color: $body-color;
        position: absolute;
        z-index: 0;
        top: 82px;
        right: -35px;
        transform: rotate(50deg);
        border-radius: 30%;
        
        &:before {
          content: "";
          width: 38px;
          height: 22px;
          background-color: #422a1e;
          position: absolute;
          z-index: 0;
          bottom: -9px;
          right: -34px;
          transform: rotate(40deg);
          border-radius: 150px 0 150px 0;
        }
      }
      .front-legs {
        background-color: $body-color;
        height: 110px;
        width: 60px;
        position: relative;
        top: 157px;
        left: 20px;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;

        &:before {
          content: '';

        }
      }
    }
  }  
}  

